@{
    ViewData["Title"] = "About Ethan";
}

<div class="text-center">
    <h1 class="display-4">Ethan Finch</h1>
</div>
<div class="text-left">
    <h2>Introduction</h2>
    <p id="EthanIntroduction">
        Hello, my name is Ethan Finch. I am a senior at the University of Cincinnati studying Information Technology with a focus in software development 
        and game design. The theme of our website revolves around some of our favorite movies. My family watches movies a lot. Some of my favorite genres 
        include comedy, action/adventure, and psychological thrillers. Some of my favorite movies are:
        <ul>
            <li>Nacho Libre</li>
            <li>Caddyshack</li>
            <li>The Princess Bride</li>
            <li>Avengers</li>
            <li>The Dark Knight</li>
        </ul>
        
    </p>
</div>