@{
    ViewData["Title"] = "About Rishabh";
}

<div class="text-center">
    <h1 class="display-4">Rishabh Sharma</h1>
</div>
<div class="text-left">
    <h2>Introduction</h2>
    <img src="~/assets/Rishabh.png" id="RishabhImage"/>
    <p id="RishabhIntroduction">
      Hi My name is Rishabh Sharma I am a student in IT at University of Cincinnati. 
        <ul>
            <li>Castle In The Sky</li>
            <li>Howl's Moving Castle</li>
            <li>Ponyo</li>
            <li>The Conjuring</li>
            <li>About Time</li>
        </ul>
    </p>
</div>
