@{
    ViewData["Title"] = "About Colton";
}

<div class="text-center">
    <h1 class="display-4">Colton Dalton</h1>
</div>
<div class="text-left">
    <h2>Introduction</h2>
    <img src="~/assets/Colton.png" id="ColtonImage"/>
    <p id="ColtonIntroduction">
        Hello, my name is Colton Dalton. I am a senior at the University of Cincinnati in the Information Technology program with a focus in software development.
        I am currently employed in the College of Criminal Justice, Eduction, Human Services, and Information Technology as the CECH IT Help Desk Supervisor.
        The theme of our website revolves around some of our favorite movies. My dad is a huge movie buff and thanks to that I've begun to turn into one myself as I've
        gotten older. Some of my favorite genres include horror, noir, and psychological thrillers. Some of my favorite movies are:
        <ul>
            <li>My Neighbor Totoro</li>
            <li>Your Name</li>
            <li>Dodgeball</li>
            <li>Pineapple Express</li>
            <li>About Time</li>
        </ul>
        
    </p>
</div>
