@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<br />
<p>
    This privacy policy discloses the privacy practices for www.OurMovieList.com, which is operated by Hamilton County. This website does not collect any personally identifiable information.
    If you feel that we are not abiding by this privacy policy, you should contact us immediately via telephone at 513-555-5555 or via email (daltonco@ucmail.uc.edu).
</p>
